@keyframes FirstElementAnimation{
    0%{
        transform: scale(1) translateX(--TabViewIndicatorPos);
    }
    50%{
        transform: scale(1.1) translateX(-110%);
    }
    100%{
        transform: scale(1) translateX(-110%);
    }

}
@keyframes SecondElementAnimation{
    0%{
        transform: scale(1) translateX(--TabViewIndicatorPos);
    }
    50%{
        transform: scale(1.1) translateX(-17%);
    }
    100%{
        transform: scale(1) translateX(-17%);
    }

}
@keyframes ThirdElementAnimation{
    0%{
        transform: scale(1) translateX(--TabViewIndicatorPos);
    }
    50%{
        transform: scale(1.1) translateX(90%);
    }
    100%{
        transform: scale(1) translateX(90%);
    }

}
@keyframes Fade-In{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes MenuAnimation{
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
    }
}
@keyframes Show{
    0%{
        visibility: hidden;
    }
    99%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes ToggleButtonAnimation{
    0%{
        transform: scale(1) translateX(-1vw);
        background-color: white;
        visibility: visible;
    }
    25%{
        transform: scale(1.3);
        border: 3px solid hsl(0,0%,100%,0.3);
        background-color: hsl(0,0%,80%,0.3);
        backdrop-filter: blur(2.5px);
        visibility: visible;
    }
    75%{
        transform: scale(1.3) translateX(0.6vw);
        border: 3px solid hsl(0,0%,100%,0.3);
        background-color: hsl(0,0%,80%,0.3);
        backdrop-filter: blur(2.5px);
        visibility: visible;
    }
    99%{
        visibility: visible;
    }
    100%{
        transform: scale(1) translateX(1.9vw);
        background-color: white;
        visibility: hidden;
    }

}