@import "variables.css";
@import "Calendar.css";
.TabView{
    display: flex;
    width: 99vw;
    height: 99vh;
}
.TabView .Tab .UpperTab{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.TabView .Tab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.TabView:has(> .Tab #DashBoard:checked) .Content #DashBoardContent{
    display:block;
}
.TabView:has(> .Tab #Security:checked) .Content #SecurityContent{
    display:block;
}
.TabView label{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 5px;
    border-radius: 18px;
    text-align: center;

}
.TabView input[type="radio"]{
    display: none;
}
.TabView input[type="radio"]:checked + label{
   color:rgb(0,114,247);
   background-color: hsl(0,0%,50%,0.3);
   border-color: var(--SystemGray2);
}
.TabView .Content{
    display: flex;
    width: 100%;

}

.Content .ContenutoTab{
    width: 100%;
    display:none;
}

body{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
}
#ProfileMyClub button{
    width: 100%;
}
.ImmagineProfilo{
    border-radius: 200px;
    align-items: center;
    width:100px;
    height:100px;
    z-index: 1;
    transition: 0.5s;
    border: 3px solid hsl(0,0%,100%,0.3);
    background-color: hsl(0,0%,80%,0.3);
}

#DatiPersonali input[type="text"]{
    border: none;
    width: 15vw;
    height: 6vh;
    border-radius: 30px;
    border: 3px solid hsl(0,0%,100%,0.3);
    background-color: hsl(0,0%,80%,0.3);
    backdrop-filter: blur(2.5px);
    width:90%;
    margin-bottom: 20px;
}

.SettingsTabs input[type="radio"]{
    margin:0;
    padding:0;
}
.SettingsTabs input[type="radio"]:checked + label + .ContenutoSettings{
    display: block;
}
.SettingsTabs label{
    display: block;

    width: auto;
}
.SettingsTabs{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

.SettingsTabs .ContenutoSettings{
    width: 100%;
    height: 88%;
    order:1;
    display: none;
}

#GeneralForm label, #GeneralFormPassword label{
    margin-top: 25px;
    padding:0;
}
#GeneralForm div input[type="text"],#GeneralForm div input[type="password"],#GeneralFormPassword div input[type="password"]{
    border: none;
    width: 15vw;
    height: 6vh;
    border-radius: 30px;
    border: 3px solid hsl(0,0%,100%,0.3);
    background-color: hsl(0,0%,80%,0.3);
    backdrop-filter: blur(2.5px);
    width:90%;
    margin-bottom: 20px;
}

input[type="reset"],input[type="submit"]{
    border-radius: 36px;
    border: 3px solid hsl(0,0%,100%,0.3);
    background-color: hsl(0,0%,80%,0.3);
    backdrop-filter: blur(2.5px);
    transition: width 0.5s ease;
    text-transform: none;
}
